@font-face{
    font-family: "Roboto";
    src: 'static/Roboto/Roboto-Regular.ttf';
}
@font-face{
    font-family: "Roboto";
    src: '{{ url_for('static', filename='Roboto/Roboto-Regular.ttf') }}';
}



:root{
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --navtext-color: #ffffff;
    --title-color: #ffffff;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #f7f5e6 0%, #f5f6e7 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);


    /* font family variables. */
    --roboto: 'Roboto', sans-serif;
    /*========== Colors ==========*/
    --hue: 45;
    --sat: 98%;
    --first-color: #dadada;
    --first-color-light: #053742;
    --first-color-lighten: #a2dbfa;
    --second-shade: #b4f1f1;
    --second-dark-color: #085f63;
    --darkest: #071e3d;

    /*faqs---------*/
    --hue: 45;
    --container-color: hsl(var(--hue), 8%,16%);
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


}
body {
    margin: 0;
    width: 100%;
    background-color: #132238;
}

* {
  margin: 0;
  padding: 0;
}

/* Pre-loader */
/* Center the loader */
.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    font: var(--roboto);
    font-size: 60px;
    font-weight: bolder;
    color: whitesmoke;
}

.loader > div{
    position: absolute;
    margin: -76px 0 0 -76px;
    left: 37%;
    top: 50%;
    z-index: 1;

}
.content{
    display:none;
}
/* Buttons */

.button{
    padding: .8rem 1rem;
    margin: 10px 0;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: #fa1e0e;
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: #DADADA;
}

.button.primary-button:hover{
    background: #132238;
    background-clip: padding-box;
    color: #f5f5f5;
}
.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}


.button.secondary-button:hover{
    background: var(--gradient-color);
    color: #fa1e0e;
    /*box-shadow: var(--box-shadow);*/
}

p.para{
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0;
    background-color: white;

}
.header_area .main-menu .navbar .navbar-brand > img{
    width: 150px;
    height: 70px;
    border: 0.5px solid white;
}
.header_area .main-menu .navbar .navbar-brand :hover{
    box-shadow: var(--gradient-color);
}

.header_area .main-menu .navbar{
    padding: 0.5rem 7rem ;
    color: white;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 400 17px/22px var(--roboto);
    text-transform: uppercase;
    padding: 1rem;
    color: var(--navtext-color);
}

.header_area .main-menu .nav-item .nav-link :hover{
    color: #DADADA;
}
/*-----------end navbar section---------*/

/* Banner Area */
/*.site-banner{*/
    /*background-image: url("webapp/static/img/brain.gif");*/
/*}*/
.site-banner .row .site-title{
    position: relative;
}
.site-banner .row .site-title > img{
    margin: 100px 20px 0 0;
    padding: 10px 0;
    width: 350px;
    height: 120px;
    position: absolute;
}
.site-banner .row .site-title p{
    position: absolute;
    padding: 10px 0;
    margin-top: 230px;
    font: normal 600 16px/ 27px var(--roboto);
    color: #ebf0f6;
}
.site-banner .row .site-title .site-buttons{
    position: absolute;
    margin-top: 340px;
}

.site-banner .row .banner-image > img{
    padding: 15px;
    margin: 100px 20px 100px 80px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}


/* End Banner Area */
.mission .ai-core > img{
    width: 50%;
    height: auto;
    margin: 0 25% 10px 25%;
    border-radius: 2%;
}
.mission h2 > span{
    display: block;
    font: normal bold 20px/ 40px var(--roboto);
    letter-spacing: 21px;
    color: white;

}
/*-----------start counter section---------*/

.counter .wrapper {
    /*position: relative;*/
    width: 80%;
    margin-top: 1rem;
    /*transform: translate(-50%, -50%);*/
    /*top: 50%;*/
    /*left: 50%;*/
    display: flex;
    justify-content: space-around;
    gap: 20px;
    justify-content: flex-end;
}

.counter .wrapper .contain {
    width: 9rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #364e68;
    border-bottom: 5px solid #fa1e0e;
}

.counter .wrapper .ic {
    color: #fa1e0e;
    font-size: 2em;
    text-align: center;
}

.counter .wrapper span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 2em;
}

.counter .wrapper span.text {
    color: #ffffff;
    text-align: center;
    padding: 5px 2px;
    font-weight: 450;
    line-height: 0;
}


/*-----------end counter section---------*/

/*==================== CARD PRICING ====================*/
.card__pricing {
    position: inherit;
    background: #364e68;
    width: 50%;
    height: auto;
    margin-top: 10px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card__pricing p {
    margin: 0;
    font-weight: bold;
}
.card__pricing p > small{
    font-size: 15px;
}
.plan-title{
    font-size: 15px;
    font-family: var(--roboto);
    font-weight: bold;
    letter-spacing: 2px;
    color: #fa1e0e;
    margin-top: 30px;
}
.pricing-area .pricing-card .card-title, .pricing-area .cal .card-title{
    font: var(--roboto);
    font-size: 55px;
    font-weight: bolder;

}
.pricing-area .pricing-card .services hr, .pricing-area .pricing-card .services hr{
    background-color: #fa1e0e;
    width: 95%;
}
.pricing-area .pricing-card .card-body, .pricing-area .cal .card-body{
    font-weight: bold;
    font-family: var(--roboto);
    color: #132238;
}
.pricing-card, .cal{
    display: flex;
    align-items: center
}
.pricing-area{
    padding: 5rem 2rem;
}
.pricing-area .services-title{
    padding: 0 10rem;
}
.pricing-area .services-title h1{
    display: block;
    font: normal bold 20px/ 40px var(--roboto);
    letter-spacing: 21px;
    color: #FA1E0E;
}
.pricing-area .services-title span{
    display: block;
    font: normal bold 15px/ 20px var(--roboto);
    letter-spacing: 10px;
    color: white;
}
.pricing-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 0 0;
    width: 100%;
    margin: 3rem 0.4rem;
    transition: box-shadow .7s ease;
    border-radius: 3px
}
.pricing-area .services:hover{
    /*box-shadow: var(--box-shadow);*/
    box-shadow: 0 4px 8px 0 rgba(25, 171, 255, 0.2), 0 6px 20px 0 rgba(247, 245, 230, 0.73) ;
}
/*==================== END CARD PRICING ====================*/

/*==================== start certificate ====================*/
.certificate {
    width: 100%;
    height: 1150px;
    background-color: #000000;
}

.close {
    font-size: 30px;
    margin: 2px;
}
.certificate .about-section .world-gif img{
    height: 250px;
    width: auto;
    justify-content: center;
}
.certificate  .about-section .cert .workcert-img {
    opacity: 0.7;
    cursor: pointer;
    width: auto;
    height: 250px;
    margin: 1.5rem auto 1.5rem auto;
    border-radius: 5px;
    transition: box-shadow .7s ease;
    display: block;
}
.certificate .about-section .seals{
    display: grid;
    margin: 5px 0;
}
.certificate .about-section #seal{
    background-color: whitesmoke;
      margin: 5px 0;
      padding: 10px;
      border-radius: 20px;
      width: fit-content;


}
.certificate .about-section #seal img{
    height: 40px;
    width: auto;
}
.certificate .about-section #seal span{
    font: var(--roboto);
    width: 50px;
    height: 25px;
    font-weight: bold;
    align-content: center;
}
.certificate .carousel-inner .active .img {
    height: 80%;
    width: auto;
}
.certificate .cert .about-section .workcert-img:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(25, 171, 255, 0.2), 0 6px 20px 0 rgba(247, 245, 230, 0.73);
}


.certificate h2 > span{
    display: block;
    font: normal bold 20px/ 40px var(--roboto);
    letter-spacing: 21px;
    color: white;

}



.certificate .about-section {
    display: flex;
    justify-content: center;
}
.certificate .about-section .about-us {
    background-color: transparent;
    width: 30%;
}

.certificate .about-details{
    margin: 70px 0 70px 40px;
    width: 82%;
}
.certificate .about-details .h6{
    font: var(--roboto);
    height: 25px;
    font-weight: bold;
}
.certificate .about-details .point p{
    font: var(--roboto);
    font-weight: bolder;
    color: whitesmoke;
    text-transform: uppercase;
    margin: 5px 0;

}
.certificate .about-details .point-explain p{
    font: var(--roboto);
    font-weight: normal;
    color:#7491b0;


}
.certificate .about-details .point-explain{
     background-color: transparent;
    /*border-radius: 10px;*/
    padding: 10px;
}

/*==================== end certificate ====================*/


    /* start testimonial section*/
.reviews {
    height: 270px;
    margin: 20px auto 20px auto;

}
.reviews .testimonial-header .review-title h2 span{
  font: normal bold 20px/ 15px var(--roboto);
  letter-spacing: 10px;
  color: #fa1e0e;
}

.description {
    display: none;
    padding: 30px 20px;
    border-radius: 15px;
}
.description:hover {
    background: transparent;

}

.reviews .description {
    position: absolute;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  padding: 40px 15px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  border-left: 3px solid #fa1e0e;
    margin: 20px 0 20px 180px;
}
.reviews .description:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #fa1e0e;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  position: absolute;
  bottom: -11px;
  left: 55px;
  transform: skewY(-45deg);
}
/*.owl-theme .owl-dots{*/
/*    display: none !important;*/
/*}*/

    /*end testimonial section*/
/*==================== start logo section ====================*/
.logos{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
    background-color: transparent;
}

.logos-row {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.logos .logos-row > .single-brand{
    background-color: whitesmoke;
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem .8rem;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
    margin: 0 5px;
    border-radius: 5px;
}

.logos .logos-row > .single-brand > img{
    width: 100px;
    height: auto;
    padding: 4px;
}

.logos .logos-row > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}

.logos .logos-row > .single-brand:hover > img{
    filter: brightness(0.15);
}

/*==================== end logo section ====================*/
/*-------------live charts ---------------*/
.live-charts h2 > span{
    display: block;
    font: normal bolder 20px/ 40px var(--roboto);
    letter-spacing: 21px;
    color: #fa1e0e;
}
/*-------------end live charts ---------------*/


/*==================== faqs section ====================*/
.accordion {
    display: grid;
    align-content: center;
}

.accordion__container {
    display: grid;
    row-gap: .75rem;
    padding: 2rem 1rem;
    background-color: #364e68;
    border-radius: .5rem;
    box-shadow: 0 12px 32px rgba(51, 51, 51, 0.1);
    margin-top: 80px;
}

.accordion__title {
    font-size: var(--small-font-size);
    color: #0b0a0a;
    font-weight: 400;
    margin-top: .15rem;
    transition: .2s;
}

.accordion__header {
    display: flex;
    column-gap: .5rem;
    padding: 1.25rem 1.25rem 1.25rem 1rem;
    cursor: pointer;
}

.accordion__description {
    padding: 0 1.25rem 1.25rem 3rem;
    font-size: var(--smaller-font-size);
}

.accordion__icon {
    font-size: 1.5rem;
    height: max-content;
    color: var(--title-color);
    transition: .3s;
}

.accordion__item {
    box-shadow: 0 2px 6px rgba(38, 38, 38, 0.1);
    background-color: whitesmoke;
    border-radius: .25rem;
    position: relative;
    transition: all .25s ease;
}

.accordion__item::after {
    content: '';
    background-color: var(--first-color);
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .25rem 0 0 .25rem;
}

.accordion__item:nth-child(1) {
    background-color: #fff7f0;
}

.accordion__item:nth-child(1)::after {
    background-color: #fa1e0e;
}

.accordion__item:nth-child(2) {
    background-color: #f0f0ff;
}

.accordion__item:nth-child(2)::after {
    background-color: #fa1e0e;
}

.accordion__item:nth-child(3) {
    background-color: #fff0f3;
}

.accordion__item:nth-child(3)::after {
    background-color: #fa1e0e;
}

.accordion__item:nth-child(4) {
    background-color: #f0faff;
}

.accordion__item:nth-child(4)::after {
    background-color: #fa1e0e;
}

.accordion__content {
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon {
    transform: rotate(45deg);
}

.accordion-open .accordion__title {
    font-weight: 600;
}

/*==================== end faqs section ====================*/

/*==================== start footer section ====================*/
footer{
    margin-top: 70px;
}
footer .row-items{
    display: flex;
    /*align-content: center;*/
    margin: 20px 15px;

}
footer .row-items .columns{
    margin-right: 50px;
    align-self: center;
    width: 30%;
    font: normal bold 12px/ 20px var(--roboto);
    color: #dddddd;
}
.ec-column{
    background-color: #dddddd;
    border-radius: 5px;
    height: 90px;
    width: 200px;

}
.ec-column small{
    margin-left: 35px;
    margin-bottom: 3px;
}
/*==================== end footer section ====================*/

.card-inner article{
   font: var(--roboto);
    font-weight: normal;
}

.card-inner article h5{
    font: titling-caps bold 17px/ 30px var(--roboto);
    color: #81a3c8;
}

.card-inner article h4{
    font: normal bolder 20px/ 25px var(--roboto);
    color: #81a3c8;
}
