{% extends "base.html" %}
{% block title %}FAQs{% endblock %}
{% include 'navbar.html' %}

{% block page_content %}
    <div class="nk-block card card-bordered card-stretch" style="">
        <div class="card-inner card-inner-lg" style="color:white; background-color: #132238; margin: 0">
            <article class="entry" style="padding: 0 20px">
                <h4 class="text-center text-uppercase" style="margin: 20px 0; padding: 10px;">F.A.Qs</h4>
                <div class="card-inner card-inner-lg">
                    <h4 class="text-center">How can we help you?</h4>
                    <p>Do You have any questions? We strongly recommend that you start searching for the necessary information in this section.</p>
                    <p></p>

                    <h5>What is our company?</h5>
                    <p>Earncoins platform is an international investment company. The activity of our company is aimed at the cryptocurrency trading with the incredible precision power of AI and providing investment services worldwide.</p>
                    <p></p>


                    <h5>Must i deposit money to register?</h5>
                    <p>You can open your trading account without having to deposit. However, in order to start trading and get unlimited access to our education center and professional services, you need to fund your account with the minimum investment amount.</p>
                    <p></p>

                    <h5>Are my profits Taxable?</h5>
                    <p>Taxation generally depends on the tax law governing your country of residence. Therefore, Earncoins Ltd cannot delegate responsibility with its clients and they must tend to their own tax liabilities. </p>
                    <p></p>

                    <h5>How to create an account?</h5>
                    <p>The registration process on the website is quite simple. You need to fill out the fields of the registration form, which include name, email address and password.</p>
                    <p></p>

                    <h5>Which payment methods do you accept?</h5>
                    <p>At the moment we work with Ethereum, Bitcoin, Litecoin.</p>
                    <p></p>

                    <h5>I forgot my password, what should i do?</h5>
                    <p>Upon login, click the Lost your password? link under the button and enter your email address. A new password will be sent directly to your inbox and you can then log in and change the password in the Password page. If you do not remember which email address you used to open your trading account, please contact Customer Support. </p>
                    <p></p>

                    <h5>How much time would it take to confirm and process my withdrawal request?</h5>
                    <p>Withdrawal processing time takes a maximum of 24 hours, and withdrawals are paid directly into the specified wallet you provide in your profile. </p>
                    <p></p>

                    <h5>I want to reinvest the funds received, is it possible?</h5>
                    <p>Of course. You have the right to reinvesting your profits again and again.</p>
                    <p></p>

                    <h5>What are investment amounts?</h5>
                    <p>The investment amounts are the sums an investor invests with the company. The amounts are not fixed and can vary, according to your investment preferences. These amounts also set the level of pre-determined payout percentages and return on investment. </p>
                    <p></p>

                    <h5>How are my Withdrawal funds calculated?</h5>
                    <p>You are able to withdraw the funds displayed in your trading account balance (minus the initial margin, payouts for open trades, and pending bonuses). </p>
                    <p></p>

                    <h5>Why cant i login my Earncoins account?</h5>
                    <p>The most common reason for login errors happens when the password is copy-pasted (since there may be spaces before or after the password.) Make sure you type it correctly. An additional reason for login error is when your browser is storing old passwords through cookies. Please clear the cookies through the browser settings and if the problem persists, try entering with a different browser. For further assistance, please contact our support team to help you. </p>
                    <p></p>

                    <h5>Do i need any software to use the Earncoins platform?</h5>
                    <p>Asides having a good browser, All that is required to trade with Earncoins is to register online and fund your account.  </p>
                    <p></p>

                    <h5>Why are some pages on the platform unavailable ?</h5>
                    <p>You may need to check if you are using https:// – if so, please change it to http://. </p>
                    <p></p>
                </div>
            </article>
        </div>
    </div>
    <div class="container my-2">
        <hr style="width: 90%; color: whitesmoke; height: 4px;">
        <div class="section-heading text-center text-uppercase white font-roboto">
            <h5 style="color: #81a3c8; font-size: 25px; font-weight: bolder;">We are constantly updating our FAQs Section to accommodate any questions you might have.</h5>
        </div>
    </div>
{% endblock %}